@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif, system-ui, sans-serif;
    }
}


.popOver {
 
 
    -webkit-animation: bummer 300ms;
    animation: bummer 300ms;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes bummer {
    100% {
        -webkit-transform: scale(1, 1);
    }
    70% {
        -webkit-transform: scale(1.02, 1.02);
    }
}

@keyframes bummer {
    100% {
        transform: scale(1, 1);
    }
    
    70% {
        -webkit-transform: scale(1.02, 1.02);
    }
}
.unmountPopOver {
 
 
    -webkit-animation: unbummer 300ms;
    animation: unbummer 300ms;
    -webkit-transform: scale(1, 1);
    transform: scale(1  , 1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes unbummer {
    100% {
        -webkit-transform: scale(0, 0);
    }
     
}

@keyframes unbummer {
    100% {
        transform: scale(0, 0);
    }
    
     
}